<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    {% block styles %}
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock styles %}

    {% if title %}
        <title>BlockRecord - {{ title }}</title>
    {% else %}
        <title>BlockRecord</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">BlockRecord</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('show_chain') }}">Chain</a>
              <a class="nav-item nav-link" href="{{ url_for('servers') }}">Servers</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="nav navbar-nav navbar-right">
              <a class="nav-item nav-link" href="{{ url_for('check_chain_validity') }}">Validity</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              <a class="nav-item nav-link" href="{{ url_for('search') }}">Search</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
</body>
</html>